/* CHECKOUT MAIN */
.main {
}

.contact-address {
}

.address-container {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.address-container > fieldset {
  flex-grow: 1;
}
.address-container > fieldset > select {
  width: 100%;
  padding: 6px 0;
  border-radius: 4px;
  border: 1px solid #909090;
  padding-left: var(--input-padding-left);
}
.address-container > fieldset > select:focus {
  border: 1px solid #000000;
}
.form-text {
  /* margin-top: 54px; */
}
.confirm-checkout {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.form-text > input:required ~ span::before {
	display:none;
}
/* product-overview - reuse almost from CART page */
.cart__products {
  margin-top: 130px;
}
.td:last-child {
  text-align: center;
}
.main .btn {
  transition: all 0.3s cubic-bezier(0.18, 1.12, 0.8, 0.92);
}

.cart__products__left .product__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart__products__left .parent-image {
  max-width: 90px;
  position: relative;
}
.cart__products__left .parent-image .quantity-container {
	    position: absolute;
    left: 80%;
    bottom: 80%;
} 
.cart__products__left .parent-image .quantity-container > input {
	width: 30px;
	height: 30px;
	background-color: var(--tertiary-color);
	color: #fff;
	border-radius: 50%;
}
.cart__products__left .card__product-info {
}
.cart__products__left .card__product-info > h2 {
  font-size: 20px;
}

.quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-container input[type="button"][class*="btn-"] {
  display: inline-block;
  padding: 2px 12px;
}
.quantity-container .btn-decrease {
  left: 0;
  top: 0;
  bottom: 0;
}
.quantity-container .btn-increase {
  right: 0;
  top: 0;
  bottom: 0;
}
.quantity-container [name="product-quantity"] {
  max-width: 40px;
  text-align: center;
  border: none;
  background-color: transparent;
}

.remove-product {
  text-align: center;
}
/* css lai left */
.table {
  margin: 0;
}
.product-row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}
.product-row > .td:first-child {
  /* flex: 1; */
}
.product-row > .td:last-child {
  margin-right: 0;
}

.cart__products__right {
  width: 100%;
}
.cart__products__right .apply-coupon {
  text-align: right;
}
.cart__products__right .apply-coupon input {
  width: 100%;
  height: 44px;
  text-align: center;
  outline: none;
  border: 1px solid #eee;
  transition: all var(--transition-duration)
    cubic-bezier(0.68, 0.64, 0.86, 0.87);
}
.cart__products__right .apply-coupon input:focus {
  border-color: #000;
}
.main .btn {
  transition: all 0.3s cubic-bezier(0.18, 1.12, 0.8, 0.92);
}
.cart__products__right .apply-coupon button {
  margin-top: 10px;
  background-color: var(--quaternary-color);
  text-transform: capitalize;
}
.cart__products__right .card__total-price {
  margin-top: 50px;
  background-color: #f5f5f5;
  padding: 20px;
}
.card__total-price > ul {
}
.card__total-price > ul > li {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.card__total-price .title {
  font-weight: 300;
}
.card__total-price .price {
  font-size: 16px;
  color: #333;
}

.cart__products__left > .table > .tbody > .tr:first-child {
  display: none;
}

/* your cart is empty */
.empty-cart > img {
  object-fit: cover;
}
.empty-cart {
  padding: 0;
  display: none;
}
.empty-cart.on {
  display: flex;
  justify-content: center;
}

/* hiển thị màu sắc sp */
.card__product-info__color > span {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: bottom;
}

/* Loader */
.loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 10000;
  background-repeat: no-repeat;
  background-position: center;
}
.loader.on {
  display: block;
}
